<!doctype html>
<title>Hello from Flask</title>
<h1>Hello {{ name }}!</h1>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
	$(document).keydown(function(e){
    
    if ((e.keyCode == 37) || (e.keyCode == 39))
    {   
        $.ajax({
    			url: '/',
      		type: 'POST', 
      		data: {
      			'key_pressed': e.keyCode
        	},
      		success: function(response) {
      				location.reload()
        		}
      	});
	}
   return true;
	});
</script>
